.summerCamp{
  width: 100vw;
  margin-left: calc(-50vw + 50%);
}


.banner-container{
    width:100%;
   height:50vh;
   
}

.cpm-banner{
    object-fit:cover;
    width:100%;
    height:100%;
    top:0;
    background-position: center;
    left:0;
    bottom:0;
    background-repeat:no-repeat;
}

.empty-container{
    padding-top:20px;
    background:#f2f2f2;
    padding-bottom:20px;
}

.outercontainer{
    margin-left:90px;
    margin-right:90px;
    display:flex;
    padding-top:30px;
    flex-direction:row;
   padding-left: 20px;
   padding-right:90px;
}

.leftsidecontent{
  width:20%;
}

.content-container{
    width:80%;
   text-align:left;
   padding-left:10px;
   
}

.page-title{
   font-family: 'kepler-std-display', Century Schoolbook, New Century Schoolbook, Georgia, Palatino, Bookman, serif;
   font-weight:900;
   font-size:36px;
}

p{
    font-family: 'europa', Avenir Next, Avenir, Helvetica, sans-serif;
    font-size:16px;
    font-weight:300;
    line-height:1.65;
}

p

.wrapped-box{
  box-sizing:border-box;
  border:1px solid #1C626D;
  border-radius:12px;
  padding:0px 20px 20px 20px;
 margin:70px 40px 30px 40px;
  position:relative;
  z-index:1;
  background-image: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}

.wrapped-content{
  text-align:center;
  display:block;
  margin:-39px 40px 0px 40px;
  position:relative;
  z-index:2;
  background-color:white;

}

.wrapped-content h2{
  font-weight:600;
  font-size:1.8rem;
  font-family: 'kepler-std-display', Century Schoolbook, New Century Schoolbook, Georgia, Palatino, Bookman, serif;
}

.wrapped-content h2 em{
  color:#FD5000;
}

.wrapped-box ul{
  margin-left:-20px;
}

.wrapped-box li{
  border-bottom:1px solid #f2f2f2;
  padding:0.75rem 0 !important;
  list-style-type:none;
  margin-bottom:5px;
  line-height:1.65;
  text-align:left;
}

strong{
  color:#1C626D;
  font-weight:600;
}

.elgibility{
  margin-top:1.65rem;
  margin-bottom:3rem;
}

.elgibility h4{
 font-size:1.4rem;
 line-height:1;
 color:#000;
 font-weight:400;
 font-family: 'kepler-std-display', Century Schoolbook, New Century Schoolbook, Georgia, Palatino, Bookman, serif;
}

.elgibility ul{
  list-style-type:circle;
}

.elgibility ul li{
  margin-bottom:5px;
  font-family: 'europa', Avenir Next, Avenir, Helvetica, sans-serif;
    font-size:16px;
    font-weight:300;
   font-size:16px;
  
}

.elgibility ul li::marker{
  color:#FD5000;
}


.mid-bar{
  box-sizing:border-box;
  width:100%;
  height:auto;
  background-color:#f2f2f2;
  border-radius:4px;
  margin-top:15px; 
}

.mid-bar .container{
padding-top:20px;
padding-bottom:20px;
text-align:center;
color:#000;

}

.mid-bar-heading{
  font-weight:400;
  font-size:1.8rem;
  display:inline-block;
  margin:0;
  padding:0;
  line-height:1;
font-family:'kepler-std-display', Century Schoolbook, New Century Schoolbook, Georgia, Palatino, Bookman, serif;
}

.mid-bar-heading strong{
  color:#000;
}

.mid-bar-heading strong em{
  color:#FD5000;
}

.mid-bar .gridcontainer{
  display:grid;
  grid-template-columns: repeat(3,1fr);
  gap:2rem 2.5rem;
  
  margin:30px 65px 35px 65px;
}

.gridcontainer .griditem{
  border-radius:50px;
  background-color:#fff;
  box-shadow:0 6px 12px rgba(0,0,0,0.1);
 min-height:65px;
 display:flex;
 align-items:center;
 justify-content:center;
 text-align:center;
 box-sizing:border-box;
 transition: transform 0.5s ease;
}

.griditem:hover{
 background-color:#FD5000;
 cursor:pointer;
 transform:translateY(-5px)
}

.daytask{
  font-size:1rem;
  line-height:1.25;
  color:#241e1c;
}

.register{
  margin-top:4.5rem;
  margin-bottom:3rem;
}

.register .btn{
  background:#FD5000;
  border:0;
  border-radius:50px;
  color:#fff;
  font-size:1rem;
 transition:0.3s ease;
  padding: 14px 30px;
}

.register .btn:hover{
background:#FF7300;

  cursor:pointer;
}

.register a{
 font-family: 'europa', Avenir Next, Avenir, Helvetica, sans-serif;
 text-decoration:none;
 color:#fff;
}