.promotions-container {
    width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }

  .Promotions-section-title {
    margin: 0;
    margin-bottom: 3rem;
    text-align: left;
    font-size: 2.5rem;
}
  
 .event-grid{
  display:flex;
  flex-wrap:wrap;
  gap:30px;
 }

 .event-box{
  width:280px;
  height:280px;
  border-radius:12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position:relative;
  overflow:hidden;
  cursor:pointer;
  background-size:cover;
  background-position:center;
  text-align:center;
  transition: 0.3s ease;

 
 }

 .event-box:hover{
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
 }

 .event-image{
  width:100%;
  border-radius:12px;
  height:100%;
  cursor:pointer;
  
 }


.event-name {
  position: absolute; 
    bottom: -20px; 
    left: 0; 
    width: 100%; 
    color: white; 
    font-weight: 600;
    padding: 20px 0px; 
    background-color:rgba(79, 44, 29, 0.75); 
    z-index: 2; 
    text-decoration-thickness:1px;
    text-underline-offset:2px;
    text-decoration:underline #F5C163;

}

.university-news-badge {
  position: absolute;
  top: 0;
  right: 0; /* Place it at the bottom-right */
  background-color: #FD5000; /* Match the orange color */
  color: white;
  padding: 5px 10px 5px 10px;
  border-radius: 0px 12px 0px 12px; /* Rounded corner on the left side */
  font-size: 0.8rem;
}