
.Collaborator-section-title {
  margin: 0;
  margin-bottom: 3rem;
  text-align: left;
  font-size: 2.5rem;
}

.partners-container{
 gap:12px;
 display:flex;
 flex-direction:row;
 align-items:flex-start;
}



.tsection-container{
  padding:15px;
  margin-bottom:10px;
  border-radius:8px;
  cursor:pointer;
  width:300px;
  transition:background 0.3s ease-in-out;
}

.government-section {
  background-color: #ebf8ff;
}

.industry-section {
  background-color: #fff5f5;
}

.education-section {
  background-color: #f0fff4;
}

.tsection-header{
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.tsection-title{
  font-size:18px;
  font-weight:bold;
}